name: Rust

on:
  push:
    branches: [ "main", "surreal" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  DB_URL: 0.0.0.0:8000
  REDIS_URL: 127.0.0.1:6379
  COOKIE_KEY: 2934875632489756xn237849652zn678952983m4z5626c35bnxn29856rx3z456izn2346rt

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Start SurrealDB
      uses: jvllmr/surrealdb-action@2.0.0
      with:
        surrealdb-version: latest
        surrealdb-port: 8000
        surrealdb-user: root
        surrealdb-password: root
    - name: Start Redis
      uses: supercharge/redis-github-action@1.7.0
      with:
        redis-version: 7

    - name: Run tests
      run: cargo test --verbose

